[submodule "terraform/modules/gke_cluster.gke_auth"]
	path = terraform/modules/gke_cluster.gke_auth
	url = https://github.com/spiritantgit/tf-google-gke-cluster.git
[submodule "terraform/modules/gke_cluster"]
	path = terraform/modules/gke_cluster
	url = https://github.com/spiritantgit/tf-google-gke-cluster.git
